<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="staylesheet" href="/stayel.css" />
    
</head>
<body>
    <p>
        i am <span><%= name %></span> , i am <span><%= age %></span> yers old and i stade in <span><%= un %></span>
    </p>
<style>
    body{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    padding:10px;
    display: block;
    width: 250px;
    background-color: rgba(255, 0, 0, 0.555);
    border: 1px solid black;
    border-radius: 5px;
    color: #000;

}
span{
    color: rgb(38, 0, 255);
}
</style>
</body>
</html>